@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #928e8e;
  --foreground: #171717;
}



body {
  background: var(--background);
}

/* Custom Classes */
.d-red {
  @apply border-4 border-red-500;
}
.d-blue {
  @apply border-4 border-blue-500;
}
.d-green {
  @apply border-4 border-green-500;
}

.center-items {
  @apply flex justify-center items-center
}
